*{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #97EFE9;
    
}




.picture {
    display: grid;
    column-gap: normal;
}

.img1{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: normal;

}

.img2{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: normal;
}

img{
    height: 100%;
    width: 100%;
}

.video{
    margin-bottom: 30px;
}

@media only screen and (max-width:1115px) {
    video{
        height: 550px;
        width: 550px;
        margin: 150px auto;
    }
    
}

@media screen and (max-width:400px){
    .video{
        display: grid;
    }
    .picture{
        height: 550px;
        width: 440px;
    }

}

@media screen and (min-width:1280px){
    p{
        width: 1280px;
        text-align: center;
    }
    
    h1{
        font-size: 100px;
    }
}